@{
    ViewBag.Title = "register-voluntary";
    Layout = null;
}

@using System.Web.Mvc.Html
@model EntitiesManagerSystem.Models.Voluntary.Voluntary

<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>

    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/Template/img/ong.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    @Styles.Render("~/Template/bower_components/select2/dist/css/select2.min.css")
    @Styles.Render("~/Template/bower_components/bootstrap-daterangepicker/daterangepicker.css")
    @Styles.Render("~/Template/bower_components/dropzone/dist/dropzone.css")
    @Styles.Render("~/Template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Template/bower_components/fullcalendar/dist/fullcalendar.min.css")
    @Styles.Render("~/Template/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css")
    @Styles.Render("~/Template/bower_components/slick-carousel/slick/slick.css")
    @Styles.Render("~/Template/css/main.css?version=4.4.1")
    @Styles.Render("~/Content/input_file.css")
    @Styles.Render("~/Content/main.css")


</head>
<body>
<div class="all-wrapper menu-side with-pattern">
    <div class="row">
        <div class="auth-box-w wider col-10 register-mod">
            <div class="logo-w">
                <img alt="" src="~/Template/img/ong.png">
            </div>
            <h4 class="auth-header">Novo Voluntário</h4>
            @using (Html.BeginForm("RegisterVoluntary", "Voluntary", FormMethod.Post))
            {
                <legend>
                    <span>Dados Cadastrais</span>
                </legend>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>@Html.LabelFor(m => m.VoluntaryName)</label>
                        @Html.TextBoxFor(m => m.VoluntaryName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.VoluntaryName, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                    </div>
                    <div class="form-group col-sm-6">
                        <label> @Html.LabelFor(m => m.VoluntaryEmail)</label>
                        @Html.TextBoxFor(m => m.VoluntaryEmail, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.VoluntaryEmail, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> @Html.LabelFor(m => m.VoluntaryPassword)</label>
                            @Html.TextBoxFor(m => m.VoluntaryPassword, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryPassword, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> @Html.LabelFor(m => m.VoluntaryConfirmPassword)</label>
                            @Html.TextBoxFor(m => m.VoluntaryConfirmPassword, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryConfirmPassword, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group">
                            <label> @Html.LabelFor(m => m.VoluntaryPhone)</label>
                            @Html.TextBoxFor(m => m.VoluntaryPhone, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryPhone, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Html.LabelFor(m => m.VoluntarySocialNetwork)</label>
                            @Html.TextBoxFor(m => m.VoluntarySocialNetwork, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntarySocialNetwork, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                </div>
                <legend>
                    <span>Endereço</span>
                </legend>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <div class="form-group">
                            <label>@Html.LabelFor(m => m.VoluntaryCEP)</label>
                            @Html.TextBoxFor(m => m.VoluntaryCEP, new {@id = "cep", @class = "mask_cep form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryCEP, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                    <div class="form-group col-sm-8">
                        <div class="form-group">
                            <label>@Html.LabelFor(m => m.VoluntaryAvenue)</label>
                            @Html.TextBoxFor(m => m.VoluntaryAvenue, new {name = "address", @class = "autocomplete-address form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryAvenue, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="form-group">
                            <label>@Html.LabelFor(m => m.VoluntaryNumber)</label>
                            @Html.TextBoxFor(m => m.VoluntaryNumber, new {name = "street_number", @class = "autocomplete-address form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryNumber, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.VoluntaryNeighborhood)</label>
                    @Html.TextBoxFor(m => m.VoluntaryNeighborhood, new {name = "neighborhood", @class = "autocomplete-neighborhood form-control"})
                    @Html.ValidationMessageFor(m => m.VoluntaryNeighborhood, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>@Html.LabelFor(m => m.VoluntaryCity)</label>
                            @Html.TextBoxFor(m => m.VoluntaryCity, new {name = "city", @class = "autocomplete-city form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryCity, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>@Html.LabelFor(m => m.VoluntaryState)</label>
                            @Html.DropDownListFor(model => model.VoluntaryState, new SelectList(
                                new List<Object>
                                {
                                    new {value = "AC", text = "AC"},
                                    new {value = "AL", text = "AL"},
                                    new {value = "AM", text = "AM"},
                                    new {value = "AP", text = "AP"},
                                    new {value = "BA", text = "BA"},
                                    new {value = "CE", text = "CE"},
                                    new {value = "DF", text = "DF"},
                                    new {value = "ES", text = "ES"},
                                    new {value = "GO", text = "GO"},
                                    new {value = "MA", text = "MA"},
                                    new {value = "MG", text = "MG"},
                                    new {value = "MS", text = "MS"},
                                    new {value = "MT", text = "MT"},
                                    new {value = "PA", text = "PA"},
                                    new {value = "PB", text = "PB"},
                                    new {value = "PE", text = "PE"},
                                    new {value = "PI", text = "PI"},
                                    new {value = "PR", text = "PR"},
                                    new {value = "RJ", text = "RJ"},
                                    new {value = "RN", text = "RN"},
                                    new {value = "RO", text = "RO"},
                                    new {value = "RR", text = "RR"},
                                    new {value = "RS", text = "RS"},
                                    new {value = "SC", text = "SC"},
                                    new {value = "SE", text = "SE"},
                                    new {value = "SP", text = "SP"},
                                    new {value = "TO", text = "TO"}
                                },
                                "value",
                                "text",
                                "RS"), new {@class = "autocomplete-state form-control"})
                            @Html.ValidationMessageFor(m => m.VoluntaryState, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                        </div>
                    </div>

                </div>
                <legend>
                    <span>Atuação</span>
                </legend>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.VoluntaryAffinity)</label>
                    @Html.DropDownListFor(model => model.VoluntaryAffinity, new SelectList(
                        new List<Object>
                        {
                            new {value = "Infantil", text = "Infantil"},
                            new {value = "Pets", text = "Pets"},
                            new {value = "Idosos", text = "Idosos"},
                            new {value = "Necessitados", text = "Necessitados"},
                            new {value = "Meio Ambiente", text = "Meio Ambiente"}
                        },
                        "value",
                        "text"), new {@class = "autocomplete-state form-control select2", multiple = "true"})
                    @Html.ValidationMessageFor(m => m.VoluntaryAffinity, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                </div>
                <div class="form-group">
                    <label for=""> Area de Atuação</label>
                    <select class="form-control select2" multiple="true">
                        <option selected="true">Rio Grande do Sul</option>
                        <option>Caxias</option>
                        <option>Farroupilha</option>
                        <option>Bento Gonçalves</option>
                    </select>
                </div>
                <div class="form-group">
                    <label path="photo">Foto</label>
                    <div class="attachment attachment--image">
                        <input onchange="changePhoto(this)" class="file" type="file" id="photo" name="photo" accept=".jpg,.jpeg,.png,.gif" required="required"/>
                        <div class="attachment--label">
                            <span class="placeholder">Imagem (jpg, jpeg, png, gif)</span>
                            <span class="file-name"></span>
                            <span class="attachment--remove">Remover</span>
                        </div>
                        <div class="attachment--error"></div>
                    </div>
                </div>
                <div class="buttons-w">
                    <button class="btn btn-primary">Cadastrar</button>
                </div>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/Template/bower_components/jquery/dist/jquery.min.js")
@Scripts.Render("~/Template/bower_components/select2/dist/js/select2.full.min.js")

@Scripts.Render("~/Scripts/jquery.autocomplete-address.min.js")
@Scripts.Render("~/Scripts/jquery.mask.min.js")
@Scripts.Render("~/Scripts/input_file.js")
@Scripts.Render("~/Scripts/main.js")
</body>