@{
    ViewBag.Title = "login";
    Layout = null;
}

@model AdminManagerSystem.Models.LoginForm

<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard HTML Template</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template gilanguage" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta contenhtmlt="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    @Styles.Render("~/Template/bower_components/select2/dist/css/select2.min.css")
    @Styles.Render("~/Template/bower_components/bootstrap-daterangepicker/daterangepicker.css")
    @Styles.Render("~/Template/bower_components/dropzone/dist/dropzone.css")
    @Styles.Render("~/Template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Template/bower_components/fullcalendar/dist/fullcalendar.min.css")
    @Styles.Render("~/Template/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css")
    @Styles.Render("~/Template/bower_components/slick-carousel/slick/slick.css")
    @Styles.Render("~/Template/css/main.css?version=4.4.1")
    @Styles.Render("~/Content/main.css")
</head>

<body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">
            <div class="logo-w"><img alt="" src="~/Template/img/ong.png"></div>
            <h4 class="auth-header">Login</h4>
            @using (Html.BeginForm("LoginMethod", "login", FormMethod.Post))
            {
            <p class="message-error">@ViewBag.Message</p>
            <div class="form-group">
                <label>@Html.LabelFor(m => m.Username)</label>
                @Html.TextBoxFor(m => m.Username, new  {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "help-block form-text with-errors form-control-feedback"})
                <div class="pre-icon os-icon os-icon-user-male-circle"></div>
            </div>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.Password)</label>
                    @Html.TextBoxFor(m => m.Password, new  {@class = "form-control", @type="password"})
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "help-block form-text with-errors form-control-feedback"})
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                <div class="buttons-w">
                    <button class="btn btn-primary">Entrar</button>
                </div>
            }
        </div>
    </div>
</body>

</html>
