@{
    ViewBag.Title = "register";
}

@using System.Web.Mvc.Html
@model AdminManagerSystem.Models.User

@* AFFINITY URLS *@
@* <input id="trash_affinity_url" type="hidden" value="@Url.Action("TrashAffinity", "Admin")"/> *@
@* <input id="edit_affinity_url" type="hidden" value="@Url.Action("EditAffinity", "Admin")"/> *@
@* <input id="approve_affinity_url" type="hidden" value="@Url.Action("ApproveAffinity", "Admin")"/> *@

@* VOLUNTARY URLS *@
<input id="trash_voluntary_url" type="hidden" value="@Url.Action("TrashVoluntary", "Admin")"/>
<input id="show_more_voluntary_url" type="hidden" value="@Url.Action("ShowMoreVoluntary", "Admin")"/>
<input id="approve_voluntary_url" type="hidden" value="@Url.Action("ApproveVoluntary", "Admin")"/>

@* ENTITY URLS *@
<input id="trash_entity_url" type="hidden" value="@Url.Action("TrashEntity", "Admin")"/>
<input id="show_more_entity_url" type="hidden" value="@Url.Action("ShowMoreEntity", "Admin")"/>
<input id="approve_entity_url" type="hidden" value="@Url.Action("ApproveEntity", "Admin")"/>

@* MODERATOR URLS *@
<input id="trash_moderator_url" type="hidden" value="@Url.Action("TrashModerator", "Admin")"/>


<input id="save_moderator_error" type="hidden" value="@ViewBag.save_moderator_error"/>

<div class="element-wrapper col-8 mx-auto">

<div class="os-tabs-controls">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#moderator" role="tab" aria-controls="moderator"
               aria-selected="true">
                Moderador
            </a>
        </li>
        @* <li class="nav-item"> *@
        @*     <a class="nav-link" data-toggle="tab" href="#affinity" role="tab" aria-controls="affinity" *@
        @*        aria-selected="false"> *@
        @*         Afinidades *@
        @*     </a> *@
        @* </li> *@
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#voluntary" role="tab" aria-controls="voluntary"
               aria-selected="false">
                Voluntário
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#entity" role="tab" aria-controls="entity"
               aria-selected="false">
                Entidade
            </a>
        </li>
    </ul>
</div>

@* <h6 class="element-header">Dashboard</h6> *@
<div class="element-box">

<div class="tab-content">

@* ######################################################### *@
@* ###################### MODERATOR ######################## *@
@* ######################################################### *@

<div class="tab-pane fade show active" id="moderator" role="tabpanel">
<h5 class="form-header">Moderadores</h5>

@* Modal Register Moderator *@
<button class="mr-2 mb-2 btn btn-primary" data-target=".register-moderator-modal" data-toggle="modal">
    Novo Moderador
</button>
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade register-moderator-modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro de Moderador</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            @using (Html.BeginForm("SaveModerator", "Admin", FormMethod.Post))
            {
                <div class="modal-body">
                    <legend>
                        <span></span>
                    </legend>

                    <div class="form-group">
                        <label>@Html.LabelFor(m => m.Email)</label>
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @type = "email"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Password)</label>
                                @Html.TextBoxFor(m => m.Password, new {@class = "form-control", @type="password"})
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.ConfirmPassword)</label>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new {@class = "form-control", @type="password"})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "help-block form-text with-errors form-control-feedback"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                        Sair
                    </button>
                    <button class="btn btn-primary" type="submit">
                        Salvar
                    </button>
                </div>
            }

        </div>
    </div>
</div>
@* End Modal Register Moderator *@

<legend>
    <span></span>
</legend>
<table class="table table-striped table-actions">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">E-Mail</th>
        <th scope="col" class="head-actions text-right">Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in ViewBag.users)
    {
        if (user.IsApproved && user.IsModerator)
        {
        <tr data-moderator-id="@user.UserId">
            <td></td>
            <td>@user.Email</td>
            <td class="actions text-right">
                <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir">
                    <i class="os-icon os-icon-ui-15"></i>
                </a>
            </td>
        </tr>
        }
    }
    </tbody>
</table>
</div>
@* ######################################################### *@
@* ##################### ##AFFINITY ######################## *@
@* ######################################################### *@


@* <div class="tab-pane fade" id="affinity" role="tabpanel"> *@
@*     <h5 class="form-header">Solicitações de Afinidades</h5> *@
@* *@
@* *@
@*     $1$ Modal Register Moderator #1# *@
@* *@
@*     <button class="mr-2 mb-2 btn btn-primary" data-target=".register-affinity-modal" data-toggle="modal"> *@
@*         Nova Afinidade *@
@*     </button> *@
@*     <div aria-hidden="true" aria-labelledby="AffinityModel" class="modal fade register-affinity-modal" *@
@*          role="dialog" tabindex="-1"> *@
@*         <div class="modal-dialog modal-lg"> *@
@*             <div class="modal-content"> *@
@*                 <div class="modal-header"> *@
@*                     <h5 class="modal-title" id="AffinityModel">Cadastro de Moderador</h5> *@
@*                     <button aria-label="Close" class="close" data-dismiss="modal" type="button"> *@
@*                         <span aria-hidden="true"> *@
@*                             &times; *@
@*                         </span> *@
@*                     </button> *@
@*                 </div> *@
@*                 <div class="modal-body"> *@
@*                     <legend> *@
@*                         <span></span> *@
@*                     </legend> *@
@* *@
@*                 </div> *@
@* *@
@*                 <div class="modal-footer"> *@
@*                     <button class="btn btn-secondary" data-dismiss="modal" type="button"> *@
@*                         Sair *@
@*                     </button> *@
@*                     <button class="btn btn-primary" type="submit"> *@
@*                         Salvar *@
@*                     </button> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@*     $1$ End Modal Register Moderator #1# *@
@* *@
@*     <legend> *@
@*         <span></span> *@
@*     </legend> *@
@*     <table class="table table-striped table-actions"> *@
@*         <thead> *@
@*         <tr> *@
@*             <th scope="col">#</th> *@
@*             <th scope="col">Nome</th> *@
@*             <th scope="col" class="head-actions">Ações</th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody id="tbody_affinity_not_approved"> *@
@*         <tr data-affinity-id="1"> *@
@*             <td></td> *@
@*             <td class="name">Dependentes alcoólicos</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="approve" data-placement="top" data-toggle="tooltip" data-original-title="Adicionar"> *@
@*                     <i class="os-icon os-icon-tasks-checked"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         <tr data-affinity-id="2"> *@
@*             <td></td> *@
@*             <td class="name">Alimentação</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="approve" data-placement="top" data-toggle="tooltip" data-original-title="Adicionar"> *@
@*                     <i class="os-icon os-icon-tasks-checked"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         </tbody> *@
@*     </table> *@
@* *@
@*     <h5 class="form-header">Afinidades</h5> *@
@*     <legend> *@
@*         <span></span> *@
@*     </legend> *@
@*     <table class="table table-striped table-actions"> *@
@*         <thead> *@
@*         <tr> *@
@*             <th scope="col">#</th> *@
@*             <th scope="col">Nome</th> *@
@*             <th scope="col" class="head-actions">Ações</th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody id="tbody_affinity_approved"> *@
@*         <tr data-affinity-id="3"> *@
@*             <td></td> *@
@*             <td class="name">Infantil</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         <tr data-affinity-id="4"> *@
@*             <td></td> *@
@*             <td class="name">Pets</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         <tr data-affinity-id="5"> *@
@*             <td></td> *@
@*             <td class="name">Idosos</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         <tr data-affinity-id="6"> *@
@*             <td></td> *@
@*             <td class="name">Necessitados</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         <tr data-affinity-id="7"> *@
@*             <td></td> *@
@*             <td class="name">Meio Ambiente</td> *@
@*             <td class="actions"> *@
@*                 <a href="javascript:;" class="edit"data-placement="top" data-toggle="tooltip" data-original-title="Editar"> *@
@*                     <i class="os-icon os-icon-pencil-1"></i> *@
@*                 </a> *@
@*                 <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir"> *@
@*                     <i class="os-icon os-icon-ui-15"></i> *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*         </tbody> *@
@*     </table> *@
@* </div> *@


@* ######################################################### *@
@* ##################### VOLUNTARIOS ####################### *@
@* ######################################################### *@

@* Modal show voluntary *@
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade show-voluntary-modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title name" id="exampleModalLabel"></h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body modal-body-voluntary">
                
                <div class="bloc-info">
                    <div>Email: <div class="email"></div></div>
                    <div>Telefone: <div class="phone"></div></div>
                    <div>Rede social: <div class="socialnetwork"></div></div>
                </div>
                
                <legend>
                    <span></span>
                </legend>
                
                <div class="bloc-info">
                    <div>CEP: <div class="cep"></div></div>
                    <div>Rua: <div class="avenue"></div></div>
                    <div>Número: <div class="number"></div></div>
                    <div>Bairro: <div class="neighborhood"></div></div>
                    <div>Cidade: <div class="city"></div></div>
                </div>
                
                
                <legend>
                    <span></span>
                </legend>
                
                <div class="bloc-info">
                    <div>Afinidades: <div class="affinities"></div></div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Sair
                </button>
            </div>
        </div>
    </div>
</div>
@* End Modal show voluntary *@


<div class="tab-pane fade" id="voluntary" role="tabpanel">
    <h5 class="form-header">Solicitações de registro de voluntário</h5>
    <legend>
        <span></span>
    </legend>
    <table class="table table-striped table-actions">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="head-actions text-right">Ações</th>
        </tr>
        </thead>
        <tbody id="tbody_voluntary_not_approved">
        
        @foreach (var voluntary in ViewBag.volunteers)
        {
            if (!voluntary.IsApproved)
            {
                 <tr data-voluntary-id="@voluntary.VoluntaryId">
                    <td></td>
                    <td class="name">@voluntary.Name</td>
                    <td class="actions text-right">
                        <a href="javascript:;" class="show_more"data-placement="top" data-toggle="tooltip" data-original-title="Ver mais">
                            <i class="os-icon os-icon-search"></i>
                        </a>
                        <a href="javascript:;" class="approve" data-placement="top" data-toggle="tooltip" data-original-title="Adicionar">
                            <i class="os-icon os-icon-tasks-checked"></i>
                        </a>
                        <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir">
                            <i class="os-icon os-icon-ui-15"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <h5 class="form-header">Voluntários</h5>
    <legend>
        <span></span>
    </legend>
    <table class="table table-striped table-actions">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="head-actions text-right">Ações</th>
        </tr>
        </thead>
        <tbody id="tbody_voluntary_approved">
        @foreach (var voluntary in ViewBag.volunteers)
        {
            if (voluntary.IsApproved)
            {
                <tr data-voluntary-id="@voluntary.VoluntaryId">
                    <td></td>
                    <td class="name">@voluntary.Name</td>
                    <td class="actions text-right">
                        <a href="javascript:;" class="show_more" data-placement="top" data-toggle="tooltip" data-original-title="Ver mais">
                            <i class="os-icon os-icon-search"></i>
                        </a>
                        <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir">
                            <i class="os-icon os-icon-ui-15"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@* ######################################################### *@
@* ######################## ENTITY ######################### *@
@* ######################################################### *@


@* Modal show entity *@
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade show-entity-modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title name" id="exampleModalLabel"></h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body modal-body-entity">
                
                <div class="bloc-info">
                    <div>Email: <div class="email"></div></div>
                    <div>Iniciais: <div class="initials"></div></div>
                    <div>Telefone: <div class="phone"></div></div>
                    <div>Responsável: <div class="responsable"></div></div>
                    <div>Site: <div> <a class="site" href="javascript:;"></a> </div></div>
                    <div>Rede social: <div class="socialnetwork"></div></div>
                    <div>Descrição: <div class="description"></div></div>
                </div>
                
                <legend>
                    <span></span>
                </legend>
                
                <div class="bloc-info">
                    <div>CEP: <div class="cep"></div></div>
                    <div>Rua: <div class="avenue"></div></div>
                    <div>Número: <div class="number"></div></div>
                    <div>Bairro: <div class="neighborhood"></div></div>
                    <div>Cidade: <div class="city"></div></div>
                </div>
                
                
                <legend>
                    <span></span>
                </legend>
                
                <div class="bloc-info">
                    <div>Afinidades: <div class="affinities"></div></div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Sair
                </button>
            </div>
        </div>
    </div>
</div>
@* End Modal show entity *@


<div class="tab-pane fade" id="entity" role="tabpanel">
    <h5 class="form-header">Solicitações de registro de entidade</h5>
    <legend>
        <span></span>
    </legend>
    <div class="table-responsive">
        <table width="100%" class="table table-striped table-actions">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col" class="head-actions text-right">Ações</th>
            </tr>
            </thead>
            <tbody id="tbody_entity_not_approved">
            @foreach (var entity in ViewBag.entities)
            {
                if (!entity.IsApproved)
                {
                    <tr data-entity-id="@entity.Id">
                        <td></td>
                        <td class="name">@entity.EntityName</td>
                        <td class="actions text-right">
                            <a href="javascript:;" class="show_more"data-placement="top" data-toggle="tooltip" data-original-title="Ver mais">
                                <i class="os-icon os-icon-search"></i>
                            </a>
                            <a href="javascript:;" class="approve" data-placement="top" data-toggle="tooltip" data-original-title="Adicionar">
                                <i class="os-icon os-icon-tasks-checked"></i>
                            </a>
                            <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir">
                                <i class="os-icon os-icon-ui-15"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <h5 class="form-header">Entidades</h5>
    <legend>
        <span></span>
    </legend>
    <div class="table-responsive">
        <table style="width: 100%;" class="table table-striped table-actions">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col" class="head-actions text-right">Ações</th>
            </tr>
            </thead>
            <tbody id="tbody_entity_approved">
            @foreach (var entity in ViewBag.entities)
            {
                if (entity.IsApproved)
                {
                    <tr data-entity-id="@entity.Id">
                        <td></td>
                        <td class="name">@entity.EntityName</td>
                        <td class="actions text-right">
                            <a href="javascript:;" class="show_more"data-placement="top" data-toggle="tooltip" data-original-title="Ver mais">
                                <i class="os-icon os-icon-search"></i>
                            </a>
                            <a href="javascript:;" class="trash" data-placement="top" data-toggle="tooltip" data-original-title="Excluir">
                                <i class="os-icon os-icon-ui-15"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
</div>

</div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/affinity.js")
    @Scripts.Render("~/Scripts/voluntary.js")
    @Scripts.Render("~/Scripts/entity.js")
    @Scripts.Render("~/Scripts/moderator.js")
    <script>

        $(document).ready(function() {
            if ($('#save_moderator_error').val() == 'true') {
                $('.register-moderator-modal').modal('show')
            }
        })

    </script>
}


@* EXEMPLO BASE MODAL *@

@* $1$ Modal show voluntary #1# *@
@* <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade show-voluntary-modal" *@
@*      role="dialog" tabindex="-1"> *@
@*     <div class="modal-dialog modal-lg"> *@
@*         <div class="modal-content"> *@
@*             <div class="modal-header"> *@
@*                 <h5 class="modal-title" id="exampleModalLabel">Visualização do voluntário</h5> *@
@*                 <button aria-label="Close" class="close" data-dismiss="modal" type="button"> *@
@*                     <span aria-hidden="true"> *@
@*                         &times; *@
@*                     </span> *@
@*                 </button> *@
@*             </div> *@
@*             <div class="modal-body"> *@
@*                 <legend> *@
@*                     <span></span> *@
@*                 </legend> *@
@*             </div> *@
@*             <div class="modal-footer"> *@
@*                 <button class="btn btn-secondary" data-dismiss="modal" type="button"> *@
@*                     Sair *@
@*                 </button> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* $1$ End Modal show voluntary #1# *@