<!DOCTYPE html>
<html>

<head>
    <title>Manager</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">

    @Styles.Render("~/Template/bower_components/select2/dist/css/select2.min.css")
    @Styles.Render("~/Template/bower_components/bootstrap-daterangepicker/daterangepicker.css")
    @Styles.Render("~/Template/bower_components/dropzone/dist/dropzone.css")
    @Styles.Render("~/Template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Template/bower_components/fullcalendar/dist/fullcalendar.min.css")
    @Styles.Render("~/Template/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css")
    @Styles.Render("~/Template/bower_components/slick-carousel/slick/slick.css")
    @Styles.Render("~/Template/css/main.css?version=4.4.1")
    @Styles.Render("~/Content/main.css")

</head>

<body class="menu-position-side menu-side-left full-screen">
<div class="all-wrapper solid-bg-all">
    <div class="layout-w">
        <div class="content-w">
            <div class="top-bar color-scheme-light">
                @if (ViewBag.user == "entity")
                {
                <ul>
                    <li class="@ViewBag.index">
                        <a href="/Entity">Home</a>
                    </li>
                    <li class="@ViewBag.register_event">
                        <a href="/Entity/RegisterEvent">Eventos</a>
                    </li>
                    <li class="@ViewBag.donations">
                        <a href="/Entity/Donations">Doações</a>
                    </li>
                </ul>
                }
                else if (ViewBag.user == "voluntary")
                {
                    <ul>
                        <li class="@ViewBag.index">
                            <a href="/Voluntary">Home</a>
                        </li>
                        <li class="@ViewBag.events">
                            <a href="/Voluntary/Event">Eventos</a>
                        </li>
                        <li class="@ViewBag.register_donate">
                            <a href="/Voluntary/RegisterDonate">Doar</a>
                        </li>
                    </ul>
                }
                <div class="top-menu-controls">
                    <div class="logged-user-w">
                        <div class="logged-user-i">
                            <div class="avatar-w">
                                <img alt="" src="~/Template/img/avatar1.jpg">
                            </div>
                            <div class="logged-user-menu color-style-bright">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <img alt="" src="~/Template/img/avatar1.jpg">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">Fulano</div>
                                        @if (ViewBag.user == "entity")
                                        {
                                            <div class="logged-user-role">Entidade</div>
                                        }
                                        else if (ViewBag.user == "voluntary")
                                        {
                                            <div class="logged-user-role">Voluntário</div>
                                        }
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon os-icon-wallet-loaded"></i>
                                </div>
                                <ul>
                                    <li>
                                        <a href="users_profile_big.html">
                                            <i
                                                class="os-icon os-icon-user-male-circle2">
                                            </i><span>Perfil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Login/Login">
                                            <i class="os-icon os-icon-signs-11"></i><span>Sair</span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="apps_email.html"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-i">
                <div class="content-box">

                    <!-- AQUI AS PÁGINAS -->

                    @RenderBody()

                    @* <div class="floated-colors-btn"> *@
                    @*     <div class="os-toggler-w"> *@
                    @*         <div class="os-toggler-i"> *@
                    @*             <div class="os-toggler-pill"></div> *@
                    @*         </div> *@
                    @*     </div><span>Contraste </span> *@
                    @* </div> *@
                    
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>


@Scripts.Render("~/Template/bower_components/jquery/dist/jquery.min.js")
@Scripts.Render("~/Template/bower_components/popper.js/dist/umd/popper.min.js")
@Scripts.Render("~/Template/bower_components/moment/moment.js")
@Scripts.Render("~/Template/bower_components/chart.js/dist/Chart.min.js")
@Scripts.Render("~/Template/bower_components/select2/dist/js/select2.full.min.js")
@Scripts.Render("~/Template/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js")
@Scripts.Render("~/Template/bower_components/ckeditor/ckeditor.js")
@Scripts.Render("~/Template/bower_components/bootstrap-validator/dist/validator.min.js")
@Scripts.Render("~/Template/bower_components/bootstrap-daterangepicker/daterangepicker.js")
@Scripts.Render("~/Template/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js")
@Scripts.Render("~/Template/bower_components/dropzone/dist/dropzone.js")
@Scripts.Render("~/Template/bower_components/editable-table/mindmup-editabletable.js")
@Scripts.Render("~/Template/bower_components/datatables.net/js/jquery.dataTables.min.js")
@Scripts.Render("~/Template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
@Scripts.Render("~/Template/bower_components/fullcalendar/dist/fullcalendar.min.js")
@Scripts.Render("~/Template/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js")
@Scripts.Render("~/Template/bower_components/tether/dist/js/tether.min.js")
@Scripts.Render("~/Template/bower_components/slick-carousel/slick/slick.min.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/util.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/alert.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/button.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/carousel.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/collapse.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/dropdown.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/modal.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/tab.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/tooltip.js")
@Scripts.Render("~/Template/bower_components/bootstrap/js/dist/popover.js")
@Scripts.Render("~/Template/js/demo_customizer.js?version=4.4.1")
@Scripts.Render("~/Template/js/main.js?version=4.4.1")
@Scripts.Render("~/Scripts/main.js")
@Scripts.Render("~/Scripts/jquery.autocomplete-address.min.js")
@Scripts.Render("~/Scripts/jquery.mask.min.js")

@*
    <script>(function (i, s, o, g, r, a, m) { *@
@* i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { *@
@* (i[r].q = i[r].q || []).push(arguments) *@
@*     }, i[r].l = 1 * new Date(); a = s.createElement(o), *@
@* m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) *@
@* })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); *@
@* *@
@* ga('create', 'UA-42863888-9', 'auto'); *@
@* ga('send', 'pageview');</script> *@
</body>

</html>